#
# meltdown config
#
MELTDOWN_PORT=33765
MELTDOWN_HOST=0.0.0.0
MELTDOWN_STATE1=yT2kKVG6
MELTDOWN_STATE2=KmWtRYyv
MELTDOWN_SEARCH_INDEX=true
MELTDOWN_SSG=false

#
# grav config
#
PUID=1000
PGID=1000
TZ=Europe/Tallinn
